*{
    margin: 0;
    padding: 0;
    font-family: "Great Vibes", cursive;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #2c1e20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.music-player{
    background: #34010b;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav.circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #412b2b;
    color: #c56f7c;
    box-shadow: 0 5px 10px rgba(197, 151, 151, 0.22);
}
.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #3C0008;
    box-shadow: 0 10px 60px rgba(17, 16, 16, 0.22);
}
.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color: #e6dddd;
    margin-top: 20px;
}
.music-player p{
    font-size: 14px;
    color: #c2a5a5;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #9e4949;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #9e4949;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(21, 21, 21, 0.22);

}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;

}
.controls div{
    width: 50px;
    height: 50px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #9e4949;
    box-shadow: 0 10px 20px rgba(15, 15, 15, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #9e4949;
    color: #fff;
}
